@font-face {
    font-family: "Chillax";
    src: url("/static/Chillax_Complete/Fonts/TTF/Chillax-Variable.ttf");;
}


:root {
    --yellow: #FFC857;
    --white: #a6a6a6;
    --pink: #dab5ff;
    --violet: #2c1c32;
    --black: #120f15;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    font-family: "Chillax", consolas;
    font-size: 20px;
    background: var(--black);
    color: #eee;
}

.top_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: sticky;
    top: 0;
}

.right_icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.right_icons > a {
    padding: 5px 25px;
    text-decoration: none;
    color: #7b7b7b;
    transition: .2s;
    font-size: 14px;
}


.top_bar {
    width: 100%;
    padding: 5px 20px;
}

.right_icons > a:hover {
    color: #ffffff;
}

a {
    color: #e6cdff;
}
