@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
    --yellow: #FFC857;
    --white: #a6a6a6;
    --pink: #dab5ff;
    --violet: #2c1c32;
    --black: #120f15;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;
    background: #ffffff;
    color: #2d2d2d;
}

.top_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: sticky;
    top: 0;
}

.right_icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.right_icons > a {
    padding: 5px 25px;
    text-decoration: none;
    color: #4f4f4f;
    transition: .2s;
    font-size: 14px;
}


.top_bar {
    width: 100%;
    padding: 5px 20px;
}

.right_icons > a:hover {
    color: #872ea8;
}

a {
    color: #c143f0;
}




.star, .public {
    visibility: hidden;
    font-size: 30px;
    cursor: pointer;
    transition: .3s;
    color: #fff;
    position: relative;
    width: 30px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.star:before {
    content: "\2764";
    position: absolute;
    visibility: visible;
    color: #aaaaaa;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: #161616;
    font-size: 25px;
    transition: .25s ease;
    z-index: 10;
}

.star:checked:before {
    content: "\2764";
    position: absolute;
    visibility: visible;
    color: #c143f0;
    font-size: 35px;
}
.public:before {
    content: "\1F310";
    position: absolute;
    visibility: visible;
    filter: grayscale(1);
    font-size: 25px;
    transition: .25s ease;
    z-index: 10;
}

.public:checked:before {
    content: "\1F310";
    position: absolute;
    visibility: visible;
    filter: grayscale(0);
    font-size: 30px;
}

#delete {
    
display: flex;
    
align-items: center;
    
justify-content: center;
    
font-size: 16px;
    
color: #f00;
    
cursor: pointer;
}