.page {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

input#note_title {
    font-size: 32px;
    color: #252525;
    background: none;
    outline: none;
    border: none;
    padding: 10px 10%;
    width: 100%;
    text-align: left;
    border: 1px solid #fff0;
    transition: .2s ease-out;
}

.title_holder {
    width: 100%;
}

input#note_title:hover {
    border: 1px solid #fff3;
}

input#note_title:focus {
    border: 1px solid #fff3;
}

.desc {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px 20px;
    width: 300px;
    font-size: 15px;
    border-radius: 20px;
    border: 2px solid #777;
}

.content_holder {
    min-height: 1em;
    min-width: 90%;
    border: 1px solid #474747;
    margin-top: 20px;
    font-size: 20px;
    line-height: normal;
    padding: 10px 20px;
    border-radius: 20px;
    transition: .2s ease-out;
}

[role="textbox"]>* {
    border-bottom: 1px solid #ffffff09;
}

[role="textbox"]>*:last-child {
    border-bottom: 1px solid #ffffff00;
}

:focus-visible {
    outline: none;
}

.content_holder:has(:focus-within) {
    border: 1px solid #fff;
}

li,
ol {
    margin-left: 1em;
}

div#save {
    border: 1px solid #fff9;
    padding: 2px 20px;
    border-radius: 50px;
    cursor: pointer;
}

input#username {
    text-align: center;
    border-radius: 15px;
    opacity: .7;
    border: none;
}