* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.top_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: sticky;
    top: 0;
}

.right_icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.right_icons > a {
    padding: 5px 25px;
    text-decoration: none;
    color: #7b7b7b;
}

body {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    font-family: consolas;
}

.top_bar {
    width: 100%;
    padding: 5px 20px;
}