<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Note-ify</title>
    <link rel="stylesheet" href=" {{ url_for( 'static', filename='main.css' ) }} ">
    <link rel="stylesheet" href=" {{ url_for( 'static', filename='login.css' ) }} ">
</head>
<body>
    
    <div>

        <h1>Login to Note-ify</h1>
        <form action="" method="post">
            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>

            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>

            <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="/signup">Register here</a>.</p>

    </div>

</body>
</html>