<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{note[2]}}</title>
    <link rel="stylesheet" href=" {{ url_for( 'static', filename='main.css' ) }} ">
    <link rel="stylesheet" href=" {{ url_for( 'static', filename='note.css' ) }} ">
    <link rel="stylesheet" href="https://esm.sh/prosemirror-view/style/prosemirror.css">
    <style>
        /* ProseMirror fix */
        .ProseMirror {
            white-space: pre-wrap;
            word-wrap: break-word;
            color: #4b4b4b;
        }
    </style>

</head>

<body>
    <div class="top_bar">
        <div class="top_container">
            <div class="left_icon">
                <a href="/">🏠</a>
            </div>
            <div class="title_holder">
                <input type="text" id="note_title" value="{{ note[2] }}" placeholder="Title Here..." maxlength="200" {{ readonly if public_access }} required />
            </div>
            {% if not session.get('username') %}
            <div class="right_icons">
                <a href="/login">Login</a>
                <a href="/signup">Signup</a>
            </div>
            {% else %}
                <div class="right_icons">
                    {% if not public_access %}
                        <input class="star" id="star" type="checkbox" {{"checked" if note[6] else ""}} />
                        <input class="public" id="public" type="checkbox" {{"checked" if note[7] else ""}} />
                        <div id="delete">Delete</div>
                        <div id="save">Save</div>
                    {% else %}
                        <div id="save">Clone</div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
    <div class="page">

        <div class="desc">
            <table>
                <tr>
                    <td>
                        <p>Author:</p>
                    </td>
                    <td>
                        <input type="text" id="username" value="{{ note[1] }}" readonly />
                    </td>
                </tr>
                <tr>
                    <td>
                        Created On
                    </td>
                    <td>
                        <p>{{ note[4] }}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        Last Modified
                    </td>
                    <td>
                        <p>{{ note[5] }}</p>
                    </td>
                </tr>
            </table>
        </div>
        

        </div>

        <div class="content_holder">
            <div id="note_content"></div>
        </div>
        <div>
            <button id="summarize">summarize</button>
        </div>

    </div>

    <script type="module">
        import { Editor, rootCtx, defaultValueCtx, editorViewCtx, serializerCtx }
            from "https://esm.sh/@milkdown/core";
        import { commonmark } from "https://esm.sh/@milkdown/preset-commonmark";
        import { nord } from "https://esm.sh/@milkdown/theme-nord";

        async function init() {
            const root = document.getElementById('note_content');

            const editor = await Editor.make()
                .config((ctx) => {
                    ctx.set(rootCtx, root);
                    ctx.set(defaultValueCtx, `{{ note[3] }}`);
                })
                .use(nord)        // dark-ready Nord theme
                .use(commonmark)  // Markdown support
                .create();
            

            document.getElementById('delete').addEventListener('click', async () => {
                if (confirm("Are you sure you want to delete this note! This action cannot be undone.")) {
                    let note_id = window.location.pathname.split("/")[2];
                    window.location.href = "/api/delete/" + note_id;
                }
            });
            document.getElementById('summarize').addEventListener('click', async () => {
                const note_content = await editor.action((ctx) => {
                    const view = ctx.get(editorViewCtx);
                    const serializer = ctx.get(serializerCtx);
                    return serializer(view.state.doc);
                });
                let response=await fetch("/api/summarize",{
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({                       
                        "note_content": note_content,
                        
                    })
                   
                })
                let data=await response.json()
                if (data.success){
                    console.log(data.summarized)
                }
                else{
                    alert("Could not Summarize")
                }
            });

            document.getElementById('save').addEventListener('click', async () => {
                const note_content = await editor.action((ctx) => {
                    const view = ctx.get(editorViewCtx);
                    const serializer = ctx.get(serializerCtx);
                    return serializer(view.state.doc);
                });
                let note_title = document.querySelector("#note_title").value;
                let username=document.querySelector("#username").value;
                let note_id = window.location.pathname.split("/")[2];
                let favourite=document.getElementById("star").checked;
                let publics=document.getElementById("public").checked;
                console.log(favourite,publics);
                let response = await fetch("/api/save/" + username+ "/" + note_id, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        "title": note_title,
                        "content": note_content,
                        "star":favourite,
                        "public":publics
                    })
                });
                let data = await response.json();
                console.log(data);
                if (data.success) {
                    alert("Note saved successfully!");
                } else {
                    alert("Error saving note!");
                }
            });
        }
        

        init();
    </script>
</body>

</html>